html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: sans-serif;
}

button {
    text-transform: uppercase;
    width: 100px;
    height: 30px;
}

input,
button {
    font-family: sans-serif;
    font-size: 18px;
	width: 100%;
	font-weight: 500;
}



.control {
    padding: 5px;
    height: 100%;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control>* {
	margin-bottom: 20px;
	width: 100%;
}

.canvas {
    width: 100%;
    color: crimson;
}